:root {
  --title-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
  --main-bg-color: #ffffff;
  --primary-bg-color: #f9f7fe;
  --btn-color: #6c63ff;
  --main-text-color: #000000;
  --primary-text-color: #272142;
  --secondary-text-color: #272142b3;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-bg-color);
}

.hero {
  padding: 150px 20px;
  text-align: center;
}

h1 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 96px;
  margin-bottom: 25px;
}

p {
  font-family: var(--body-font);
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
}

h2 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 64px;
}

.hero h2 {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 24px;
}

.my-btn {
  margin-top: 40px;
  padding: 15px 48px;
  background: var(--btn-color);
  color: var(--main-bg-color);
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
}

.first {
  text-align: center;
  display: block;
  margin: 70px auto;
  font-weight: 400;
  font-size: 18px;
}

.container p {
  line-height: 2;
  margin: 5px auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.my-img {
  width: 95%;
  background: var(--primary-bg-color);
}
