:root {
  --title-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
  --main-bg-color: #ffffff;
  --primary-bg-color: #f9f7fe;
  --btn-color: #6c63ff;
  --main-text-color: #000000;
  --primary-text-color: #272142;
  --secondary-text-color: rgba(39, 33, 66, 0.7);
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  padding: 270px 370px;
  background-color: var(--primary-bg-color);
}
